<form>
  <div class="form-group">
    <label>Function to test</label>
    <textarea class="form-control" cols="30" rows="10" placeholder="Paste your code here"></textarea>
  </div>
  <div class="form-group">
    <label>Function arguments</label>
    <input class="form-control" type="text">
    <button class="btn btn-default">Add one more</button>
  </div>
  <div class="form-group">
    <label>Expected results</label>
    <input type="text">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--TODO:
1. for every set of args make set of expected results.
2. textarea for results, check for result type
-->
